body {
    font-family: sans-serif;
    background-color:#C4C89F ;

}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid #7E8354;
    border-bottom: 5px solid #7E8354;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
    background-color: #7E8354;
}

p {
    font-size: 24px;
}

article img{
    border-radius: 30px;
}
}
.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
  display: flex;
}

article {
    background-color:#7E8354 ;
    padding:10px ;
    width: 400px;
    margin: 15px;
    text-align: center;
}

.article-but {
    text-decoration: none;
    background-color: #E8EAD3;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

footer {
    background-color: #7E8354;
    padding:10px ;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
